@using PC.RMS.Core.Common.Domain.Models
@using PC.RMS.Web.Mvc.Utils

@{
    ViewBag.Title = "NegativeSearchInfo";
}

<div>
    <p>
        @PageStringsUtils.GetString(PageStringsEnum.LBL_SOURCING_ALL_CRITERIA):<br />
        @PageStringsUtils.GetString(PageStringsEnum.LBL_SOURCING_ALL_CRITERIA_CONTENT)<br /><br />
    </p>
</div>
<div>
    <p>
        @PageStringsUtils.GetString(PageStringsEnum.LBL_SOURCING_ANY_CRITERIA):<br />
        @PageStringsUtils.GetString(PageStringsEnum.LBL_SOURCING_ANY_CRITERIA_CONTENT)<br /><br />
    </p>
</div>
